# Cast
/crates/cast/               @foundry-rs/starknet-foundry-cast

# Forge
/crates/forge               @foundry-rs/starknet-foundry-forge
/crates/test-collector/     @foundry-rs/starknet-foundry-forge

# Cheatable starknet
/crates/cheatnet            @foundry-rs/starknet-foundry-cheatable-net
/crates/forge/src/running.rs @foundry-rs/starknet-foundry-cheatable-net
/crates/forge/src/cheatcodes_hint_processor.rs @foundry-rs/starknet-foundry-cheatable-net
/crates/forge/tests/integration @foundry-rs/starknet-foundry-cheatable-net

