.idea
pyproject.toml
.DS_Store
*/.tool-versions
target
.vscode/
.env
Scarb.lock
!snforge_std/Scarb.lock
!sncast_std/Scarb.lock
*/node_modules
.spr.yml
.snfoundry_cache/
.snfoundry_versioned_programs/
snfoundry_trace/
coverage/
**/.forge_e2e_cache/

