[workspace]
resolver = "2"
members = [
    "crates/forge",
    "crates/test-collector",
    "crates/cast",
    "crates/cheatnet",
    "crates/conversions",
]

[workspace.package]
version = "0.8.3"
edition = "2021"
repository = "https://github.com/foundry-rs/starknet-foundry"
license = "MIT"
license-file = "LICENSE"

[workspace.dependencies]
blockifier = { git = "https://github.com/starkware-libs/blockifier.git", rev = "ea6a3f7" }
starknet_api = "0.4.1"
cairo-lang-casm = "2.2.0"
cairo-lang-runner = "2.2.0"
cairo-lang-sierra-to-casm = "2.2.0"
cairo-lang-sierra = "2.2.0"
cairo-lang-utils = "2.2.0"
cairo-lang-starknet = "2.2.0"
cairo-lang-compiler = "2.2.0"
cairo-lang-filesystem = "2.2.0"
cairo-lang-debug = "2.2.0"
cairo-lang-defs = "2.2.0"
cairo-lang-diagnostics = "2.2.0"
cairo-lang-lowering = "2.2.0"
cairo-lang-plugins = "2.2.0"
cairo-lang-project = "2.2.0"
cairo-lang-semantic = "2.2.0"
cairo-lang-sierra-ap-change = "2.2.0"
cairo-lang-sierra-gas = "2.2.0"
cairo-lang-sierra-generator = "2.2.0"
cairo-lang-syntax = "2.2.0"
cairo-vm = "0.8.2"
cairo-felt = "0.8.2"
anyhow = "1.0.75"
assert_fs = "1.0.13"
camino = { version = "1.1.4", features = ["serde1"] }
clap = { version = "4.3.23", features = ["derive"] }
console = "0.15.7"
include_dir = "0.7.3"
indoc = "2"
itertools = "0.11.0"
num-traits = "0.2.16"
once_cell = "1.18.0"
rayon = "1.8"
regex = "1.9.6"
serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.104"
starknet = "0.5.0"
tempfile = "3.8.0"
thiserror = "1.0.49"
ctor = "0.2.4"
url = "2.4.0"

tokio = { version = "1.28.2", features = ["full"] }
tokio-util = "0.7.9"
futures = "0.3.28"
num-bigint = { version = "0.4.4", features = ["rand"] }
walkdir = "2.4.0"
dotenv = "0.15.0"
rand = "0.8.5"
project-root = "0.2.2"
which = "4.4.0"
conversions = { path = "./crates/conversions" }
test-case = "3.1.0"
