[workspace]
resolver = "2"
members = [
    "crates/shared",
    "crates/forge",
    "crates/forge-runner",
    "crates/sncast",
    "crates/cheatnet",
    "crates/conversions",
    "crates/conversions/cairo-serde-macros",
    "crates/data-transformer",
    "crates/runtime",
    "crates/scarb-api",
    "crates/configuration",
    "crates/universal-sierra-compiler-api",
    "crates/snforge-scarb-plugin",
    "crates/docs",
]

[workspace.package]
version = "0.36.0"
edition = "2021"
repository = "https://github.com/foundry-rs/starknet-foundry"
license = "MIT"
license-file = "LICENSE"

[workspace.dependencies]
blockifier = "0.14.0-rc.0"
starknet_api = { version = "0.14.0-rc.0", features = ["testing"] }
cairo-lang-casm = { version = "2.10.0-rc.1", features = ["serde"] }
cairo-lang-runner = "2.10.0-rc.1"
cairo-lang-sierra-to-casm = "2.10.0-rc.1"
cairo-lang-sierra = "2.10.0-rc.1"
cairo-lang-utils = "2.10.0-rc.1"
cairo-lang-starknet = "2.10.0-rc.1"
cairo-lang-compiler = "2.10.0-rc.1"
cairo-lang-filesystem = "2.10.0-rc.1"
cairo-lang-diagnostics = "2.10.0-rc.1"
cairo-lang-sierra-type-size = "2.10.0-rc.1"
cairo-lang-syntax = "2.10.0-rc.1"
cairo-lang-test-plugin = "2.10.0-rc.1"
cairo-lang-starknet-classes = "2.10.0-rc.1"
cairo-lang-parser = "2.10.0-rc.1"
cairo-lang-macro = "0.1.0"
cairo-vm = "1.0.0-rc3"
cairo-annotations = { git = "https://github.com/software-mansion/cairo-annotations.git", branch = "kkawula/2.10.0-rc.1" }
dirs = "5.0.1"
dialoguer = "0.11.0"
starknet-types-core = { version = "0.1.7", features = ["hash", "prime-bigint"] }
anyhow = "1.0.95"
assert_fs = "1.1.2"
camino = { version = "1.1.9", features = ["serde1"] }
clap = { version = "4.5.23", features = ["derive"] }
console = "0.15.10"
include_dir = "0.7.4"
indoc = "2"
itertools = "0.12.1"
num-traits = "0.2.19"
rayon = "1.10"
regex = "1.11.1"
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.134"
starknet = { git = "https://github.com/xJonathanLEI/starknet-rs", rev = "660a732" }
starknet-crypto = { git = "https://github.com/xJonathanLEI/starknet-rs", rev = "660a732" }
tempfile = "3.14.0"
thiserror = "1.0.69"
ctor = "0.2.9"
url = { "version" = "2.5.4", "features" = ["serde"] }
tokio = { version = "1.42.0", features = ["full"] }
futures = "0.3.31"
num-bigint = { version = "0.4.6", features = ["rand"] }
walkdir = "2.5.0"
rand = "0.8.5"
project-root = "0.2.2"
which = "5.0.0"
conversions = { path = "./crates/conversions" }
shared = { path = "./crates/shared" }
docs = { path = "./crates/docs" }
test-case = "3.1.0"
scarb-metadata = "1.13.0"
flatten-serde-json = "0.1.0"
snapbox = "0.4.17"
smol_str = "0.2.2"
num-integer = "0.1.46"
scarb-ui = "0.1.5"
semver = "1.0.24"
bimap = "0.6.3"
primitive-types = "0.12.1"
shellexpand = "3.1.0"
toml = "0.8.12"
rpassword = "7.3.1"
promptly = "0.3.1"
# Freeze reqwest dependency, because newer versions cause cast tests to fail on macs
reqwest = "=0.11.18"
fs_extra = "1.3.0"
openssl = { version = "0.10", features = ["vendored"] }
toml_edit = "0.22.22"
axum = "0.7.9"
lazy_static = "1.5.0"
fs2 = "0.4.3"
flate2 = "1.0.35"
k256 = { version = "0.13.4", features = ["sha256", "ecdsa", "serde"] }
p256 = { version = "0.13.2", features = ["sha256", "ecdsa", "serde"] }
glob = "0.3.2"
sha3 = "0.10.8"
base16ct = { version = "0.2.0", features = ["alloc"] }
fs4 = "0.7"
async-trait = "0.1.83"
serde_path_to_error = "0.1.16"
wiremock = "0.6.0"
const-hex = "1.14.0"
indicatif = "0.17.9"
shell-words = "1.1.0"
sanitize-filename = "0.6.0"
