[package]
name = "forge"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow.workspace = true
assert_fs.workspace = true
blockifier.workspace = true
camino.workspace = true
include_dir.workspace = true
indoc.workspace = true
starknet_api.workspace = true
tempfile.workspace = true
rayon.workspace = true
test-collector = { path = "../test-collector" }
cheatnet = { path = "../cheatnet" }
conversions = { path = "../conversions" }
cairo-lang-runner.workspace = true
cairo-lang-casm.workspace = true
cairo-lang-sierra-to-casm.workspace = true
cairo-lang-sierra.workspace = true
cairo-lang-utils.workspace = true
cairo-lang-starknet.workspace = true
cairo-lang-compiler.workspace = true
cairo-lang-filesystem.workspace = true
cairo-felt.workspace = true
itertools.workspace = true
regex.workspace = true
serde_json.workspace = true
serde.workspace = true
starknet.workspace = true
thiserror.workspace = true
num-traits.workspace = true
once_cell.workspace = true
walkdir.workspace = true
num-bigint.workspace = true
clap.workspace = true
console.workspace = true
rand.workspace = true
which.workspace = true
schemars = { version = "0.8.12", features = ["preserve_order"] }
parity-scale-codec = "3.5.0"
parity-scale-codec-derive = "3.1.4"
scarb-ui = { git = "https://github.com/software-mansion/scarb.git", rev = "58cc88e" }
scarb-metadata = { git = "https://github.com/software-mansion/scarb.git", rev = "58cc88e" }
snapbox = "0.4.13"
cairo-vm = "0.8.1"
ark-ff = "0.4.0-alpha.7"
ark-std = "0.4.0"
ark-secp256k1 = "0.4.0"
ark-secp256r1 = "0.4.0"
openssl = { version = "0.10", features = ["vendored"] }
toml_edit = "0.9.1"
flatten-serde-json = "0.1.0"
smol_str = "0.2.0"
tokio.workspace = true
tokio-util.workspace = true
futures.workspace = true
num-integer = "0.1.45"
url.workspace = true

[lib]
name = "forge"

[[bin]]
name = "snforge"
path = "src/main.rs"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
utils = { path = "utils" }

[[bench]]
name = "my_benchmark"
harness = false
