[package]
name = "forge"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow.workspace = true
assert_fs.workspace = true
blockifier.workspace = true
camino.workspace = true
include_dir.workspace = true
indoc.workspace = true
starknet_api.workspace = true
tempfile.workspace = true
rayon.workspace = true
test-collector = { path = "../test-collector" }
cheatnet = { path = "../cheatnet" }
cairo-lang-runner.workspace = true
cairo-lang-casm.workspace = true
cairo-lang-test-runner.workspace = true
cairo-lang-sierra-to-casm.workspace = true
cairo-lang-sierra.workspace = true
cairo-lang-utils.workspace = true
cairo-lang-starknet.workspace = true
cairo-lang-compiler.workspace = true
cairo-lang-filesystem.workspace = true
itertools.workspace = true
regex.workspace = true
serde_json.workspace = true
serde.workspace = true
starknet.workspace = true
thiserror.workspace = true
num-traits.workspace = true
schemars = { version = "0.8.12", features = ["preserve_order"] }
parity-scale-codec = "3.5.0"
parity-scale-codec-derive = "3.1.4"
num-bigint = "0.4.3"
cairo-felt = "0.8.1"
clap = { version = "4.2.7", features = ["derive"] }
walkdir = "2.3.3"
scarb-metadata = { version = "1.7.0" }
project-root = "0.2.2"
console = "0.15.7"
snapbox = "0.4.11"
once_cell = "1.18.0"
cairo-vm = "0.8.1"
ark-ff = "0.4.0-alpha.7"
ark-std = "0.4.0"
ark-secp256k1 = "0.4.0"
ark-secp256r1 = "0.4.0"
openssl = { version = "0.10", features = ["vendored"] }
which = "4.4.0"


[lib]
name = "forge"

[[bin]]
name = "snforge"
path = "src/main.rs"
