[package]
name = "shared"
version = "0.1.0"
edition.workspace = true

[dependencies]
anyhow.workspace = true
cairo-felt.workspace = true
cairo-lang-runner.workspace = true
console.workspace = true
semver.workspace = true
starknet.workspace = true
