[package]
name = "snforge_std"
version = "0.34.1"
edition = "2023_10"
description = "Cairo testing library"
documentation = "https://foundry-rs.github.io/starknet-foundry/appendix/snforge-library.html"
repository = "https://github.com/foundry-rs/starknet-foundry"
license-file = "../LICENSE"

[dependencies]
snforge_scarb_plugin = "^0.34.1"
