name: Build snforge_scarb_plugin

on:
  workflow_call:
    inputs:
      # Must start without 'v'
      overridden_plugin_version:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      # Must start without 'v'
      overridden_plugin_version:
        required: false
        type: string

jobs:
  build-binaries:
    name: Build ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    env:
      # Cross-compiled targets will override this to `cross`.
      CARGO: cargo

    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            # Use cross to link oldest GLIBC possible.
            cross: true
            lib-name: "libsnforge_scarb_plugin"
            ext: "so"

          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
            cross: true
            lib-name: "libsnforge_scarb_plugin"
            ext: "so"

          - target: x86_64-apple-darwin
            os: macos-latest
            lib-name: "libsnforge_scarb_plugin"
            ext: "dylib"

          - target: aarch64-apple-darwin
            os: macos-latest
            lib-name: "libsnforge_scarb_plugin"
            ext: "dylib"

          - target: x86_64-pc-windows-msvc
            os: windows-latest
            lib-name: "snforge_scarb_plugin"
            ext: "dll"

          # The scarb builds for following platforms are experimental and not officially supported by starknet-foundry.
          # https://docs.swmansion.com/scarb/download.html#platform-support
          # Reference issue: TODO(#2886)

          # - target: aarch64-unknown-linux-musl
          #   os: ubuntu-latest
          #   cross: true
          #   ext: "so"

          # - target: x86_64-unknown-linux-musl
          #   os: ubuntu-latest
          #   cross: true
          #   ext: "so"

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          target: ${{ matrix.target }}

      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6

      - name: Install cross
        if: matrix.cross
        uses: taiki-e/install-action@cross

      - name: Enable cross-compilation
        if: matrix.cross
        shell: bash
        run: |
          echo "CARGO=cross" >> $GITHUB_ENV

      - name: Build
        working-directory: crates/snforge-scarb-plugin
        run: ${{ env.CARGO }} build --release --locked --target ${{ matrix.target }}

      - name: Rename Binary
        shell: bash
        run: |
          set -euxo pipefail
          
          source scripts/handle_version.sh
          
          PACKAGE_NAME="snforge_scarb_plugin"
          PACKAGE_VERSION=$(get_version "${{ inputs.overridden_plugin_version }}")

          TARGET="${{ matrix.target }}"
          EXT="${{ matrix.ext }}"
          LIB_NAME="${{ matrix.lib-name }}"

          OUTPUT_BINARY="${PACKAGE_NAME}_v${PACKAGE_VERSION}_${TARGET}.${EXT}"

          mv ./crates/snforge-scarb-plugin/target/${TARGET}/release/${LIB_NAME}.${EXT} ./crates/snforge-scarb-plugin/target/${TARGET}/release/${OUTPUT_BINARY}

          echo "OUTPUT_BINARY_PATH=./crates/snforge-scarb-plugin/target/${TARGET}/release/${OUTPUT_BINARY}" >> $GITHUB_ENV

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-plugin-${{ matrix.target }}
          path: ${{ env.OUTPUT_BINARY_PATH }}
          compression-level: 0
