name: CI

on:
  pull_request:
  merge_group:

jobs:
  test-forge:
    name: Test Forge
    env:
      SCARB_VERSION: "0.5.0-alpha.0"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@dd05243424bd5c0e585e4b55eb2d7615cdd32f1f
      - name: Setup Scarb
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://docs.swmansion.com/scarb/install.sh | bash -s -- -v ${{ env.SCARB_VERSION }}
      - run: cargo test --manifest-path ./starknet-foundry/Cargo.toml -p forge

  test-cast:
    name: Test Cast
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@0e66bd3e6b38ec0ad5312288c83e47c143e6b09e
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@dd05243424bd5c0e585e4b55eb2d7615cdd32f1f
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - name: Install devnet
        run: |
            sudo apt install -y libgmp3-dev
            pip install starknet-devnet
      - uses: asdf-vm/actions/setup@v2
      - name: Prepare for tests
        run: bash ./scripts/prepare_for_tests.sh
      - name: Run tests
        run: cargo test --manifest-path ./starknet-foundry/Cargo.toml -p cast

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@0e66bd3e6b38ec0ad5312288c83e47c143e6b09e
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@dd05243424bd5c0e585e4b55eb2d7615cdd32f1f
      - name: Check forge formatting
        run: cargo fmt --manifest-path ./starknet-foundry/Cargo.toml --check -p forge
      - name: Check cast formatting
        run: cargo fmt --manifest-path ./starknet-foundry/Cargo.toml --check -p cast
      - name: Check test-collector formatting
        run: cargo fmt --manifest-path ./starknet-foundry/Cargo.toml --check -p test-collector

  clippy:
    runs-on: ubuntu-latest
    env:
      # Make sure CI fails on all warnings, including Clippy lints.
      RUSTFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@0e66bd3e6b38ec0ad5312288c83e47c143e6b09e
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@dd05243424bd5c0e585e4b55eb2d7615cdd32f1f
      - run: cargo clippy --manifest-path ./starknet-foundry/Cargo.toml --all-targets --all-features -- --no-deps
