name: CI

on:
  pull_request:
  merge_group:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-forge-unit:
    name: Test Forge / Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - run: cargo test --release --lib -p forge

  build-test-forge-nextest-archive:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - name: Install nextest
        uses: taiki-e/install-action@v2
        with:
          tool: nextest@0.9.98
      - name: Build and archive tests
        run: cargo nextest archive --release -p forge --features skip_plugin_checks --archive-file 'nextest-archive-${{ runner.os }}.tar.zst'
      - name: Upload archive to workflow
        uses: actions/upload-artifact@v4
        with:
          name: nextest-archive-${{ runner.os }}
          path: nextest-archive-${{ runner.os }}.tar.zst

  test-forge-integration:
    name: Test Forge / Integration Tests
    runs-on: [ubuntu-latest]
    needs: [ build-test-forge-nextest-archive ]
    strategy:
      fail-fast: false
      matrix:
        partition: [ 1, 2, 3 ]
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - uses: taiki-e/install-action@v2
        with:
          tool: nextest@0.9.98
      - uses: actions/download-artifact@v5
        with:
          name: nextest-archive-${{ runner.os }}
      - name: nextest partition ${{ matrix.partition }}/3
        run: cargo nextest run --no-fail-fast --partition 'count:${{ matrix.partition }}/3' --archive-file 'nextest-archive-${{ runner.os }}.tar.zst' integration

  test-forge-e2e:
    name: Test Forge / E2E Tests
    runs-on: ubuntu-latest
    needs: [ build-test-forge-nextest-archive ]
    strategy:
      fail-fast: false
      matrix:
        partition: [ 1, 2, 3 ]
    steps:
      - name: Extract branch name
        if: github.event_name != 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV
        shell: bash

      - name: Extract branch name on pull request
        if: github.event_name == 'pull_request'
        run: echo "BRANCH_NAME=$(echo $GITHUB_HEAD_REF)" >> $GITHUB_ENV
        shell: bash

      - name: Extract repo name and owner
        if: github.event_name != 'pull_request'
        run: echo "REPO_NAME=$(echo ${{ github.repository }}.git)" >> $GITHUB_ENV
        shell: bash

      - name: Extract repo name and owner on pull request
        if: github.event_name == 'pull_request'
        run: echo "REPO_NAME=$(echo ${{ github.event.pull_request.head.repo.full_name }}.git)" >> $GITHUB_ENV
        shell: bash

      - name: Install cairo-profiler
        run: |
          curl -L https://raw.githubusercontent.com/software-mansion/cairo-profiler/main/scripts/install.sh | sh
      - name: Install cairo-coverage
        run: |
          curl -L https://raw.githubusercontent.com/software-mansion/cairo-coverage/main/scripts/install.sh | sh

      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - uses: taiki-e/install-action@v2
        with:
          tool: nextest@0.9.98
      - uses: actions/download-artifact@v5
        with:
          name: nextest-archive-${{ runner.os }}
      - name: nextest partition ${{ matrix.partition }}/3
        run: cargo nextest run --no-fail-fast --partition 'count:${{ matrix.partition }}/3' --archive-file 'nextest-archive-${{ runner.os }}.tar.zst' e2e

  test-plugin-checks:
    name: Test plugin across different scarb versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302
      - run: cargo test --package forge e2e::plugin_versions

  test-requirements-check-special-conditions:
    name: Test requirements check special conditions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: software-mansion/setup-universal-sierra-compiler@v1

      - run: cargo test --package forge --features no_scarb_installed --lib compatibility_check::tests::failing_tool_not_installed

      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.9.1"

      - run: cargo test --package forge --features scarb_2_9_1 --test main e2e::requirements::test_warning_on_scarb_version_below_recommended
      - run: cargo test --package forge --features scarb_2_9_1 --lib compatibility_check::tests::warning_requirements
      - run: cargo test --package forge --features scarb_2_9_1 --test main e2e::running::sierra_gas_with_older_scarb
      - run: cargo test --package forge --features scarb_2_9_1 --test main e2e::new::init_new_project_from_scarb_with_snforge_std_deprecated

  # TODO(#3212): Closures in Cairo are fully supported since version 2.11
  test-interact-with-state:
    name: Test interact with state
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@v1

      - run: cargo test --release --package forge --features interact-with-state --test main integration::interact_with_state
      - run: cargo test --release --package forge --features interact-with-state --test main e2e::running::test_interact_with_state

  test-forge-runner:
    name: Test Forge Runner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - run: cargo test --release -p forge_runner

  test-cheatnet:
    name: Test Cheatnet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - name: Run Cheatnet tests
        run: cargo test --release -p cheatnet

  test-data-transformer:
    name: Test Data Transformer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - name: Run Data Transformer tests
        run: cargo test --release -p data-transformer

  test-forge-debugging:
    name: Test Forge Debugging
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2.8.0
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@58146c4184fa6ec5e8aaf02309ab85e35f782ed0 # v1.0.0
      - name: Run Forge Debugging tests
        run: cargo test --release -p forge --features debugging --test main e2e::debugging

  test-forge-scarb-plugin:
    name: Test Forge Scarb Plugin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - name: Run Forge Scarb Plugin tests
        working-directory: crates/snforge-scarb-plugin
        run: cargo test --release

  test-forge-scarb-plugin-deprecated:
    name: Test Forge Scarb Plugin Deprecated
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - name: Run Forge Scarb Plugin tests
        working-directory: crates/snforge-scarb-plugin-deprecated
        run: cargo test --release

  test-cast:
    name: Test Cast
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: asdf-vm/actions/install@05e0d2ed97b598bfce82fd30daf324ae0c4570e6
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - name: Run tests
        run: cargo test --release -p sncast

  test-conversions:
    name: Test Conversions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - name: Run tests
        run: cargo test --release -p conversions

  test-shared:
    name: Test Shared
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - run: cargo test --release -p shared

  test-scarb-api:
    name: Test Scarb Api
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - run: cargo test --release -p scarb-api

  scarbfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: software-mansion/setup-scarb@v1
      - name: Check cairo files format
        run: |
          output=$(find . -type f -name "Scarb.toml" -not -path "*/snforge_std_deprecated/*" -execdir sh -c '
              echo "Running \"scarb fmt\" in directory: $PWD"
              scarb fmt --check
          ' \;)
          echo "$output"
          if grep -iq "Diff" <<< "$output"; then
              exit 1
          fi
          exit 0

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - name: Check formatting
        run: cargo fmt --check

      - name: Check formatting snforge-scarb-plugin
        run: cargo fmt --check
        working-directory: crates/snforge-scarb-plugin

      - name: Check formatting snforge-scarb-plugin-deprecated
        run: cargo fmt --check
        working-directory: crates/snforge-scarb-plugin-deprecated

  clippy:
    runs-on: ubuntu-latest
    env:
      # Make sure CI fails on all warnings - including Clippy lints.
      RUSTFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - run: cargo lint

      - name: Lint snforge-scarb-plugin
        run: cargo lint
        working-directory: crates/snforge-scarb-plugin

      - name: Lint snforge-scarb-plugin-deprecated
        run: cargo lint
        working-directory: crates/snforge-scarb-plugin-deprecated

  build-docs:
    name: Test Building Docs
    runs-on: ubuntu-latest
    env:
      MDBOOK_VERSION: 0.4.52
    steps:
      - uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
      - uses: actions/checkout@v5
      - uses: software-mansion/setup-scarb@v1
      - uses: software-mansion/setup-universal-sierra-compiler@v1
      - name: Install mdBook
        run: |
          cargo install --version ${MDBOOK_VERSION} mdbook
          cargo install mdbook-variables
      - name: Install mdBook Link-Check
        run: |
          cargo install mdbook-linkcheck
      - name: Build with mdBook
        run: |
          # TODO(#2781): Use `mdbook build`
          ./scripts/build_docs.sh
      - name: Install Forge
        run: |
          cargo install --path crates/forge --locked
      - name: Verify Cairo listings
        run: |
          ./scripts/verify_cairo_listings.sh

  typos:
    name: Check typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: typos-action
        uses: crate-ci/typos@v1.35.5
