name: CI

on:
  pull_request:
  merge_group:
  push:
    branches:
      - master

jobs:
  test-forge-unit-and-integration:
    name: Test Forge / Unit and Integration Tests
    env:
      SCARB_VERSION: 0.6.0-alpha.2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@dd05243424bd5c0e585e4b55eb2d7615cdd32f1f
        with:
          workspaces: starknet-foundry
      - uses: software-mansion/setup-scarb@v1.0.1
        with:
          scarb-version: ${{ env.SCARB_VERSION }}
      - run: cargo test --lib -p forge
      - run: cargo test integration -p forge

  test-forge-e2e:
    name: Test Forge / E2E Tests
    env:
      SCARB_VERSION: 0.6.0-alpha.2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@dd05243424bd5c0e585e4b55eb2d7615cdd32f1f
        with:
          workspaces: starknet-foundry
      - uses: software-mansion/setup-scarb@v1.0.1
        with:
          scarb-version: ${{ env.SCARB_VERSION }}
      - run: cargo test e2e -p forge

  test-cheatnet:
    name: Test Cheatnet
    env:
      SCARB_VERSION: 0.6.0-alpha.2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@dd05243424bd5c0e585e4b55eb2d7615cdd32f1f
        with:
          workspaces: starknet-foundry
      - uses: software-mansion/setup-scarb@v1.0.1
        with:
          scarb-version: ${{ env.SCARB_VERSION }}
      - run: cargo test -p cheatable-starknet

  test-cast:
    name: Test Cast
    runs-on: ubuntu-latest
    env:
      DEVNET_VERSION: 0.5.5
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@0e66bd3e6b38ec0ad5312288c83e47c143e6b09e
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@dd05243424bd5c0e585e4b55eb2d7615cdd32f1f
        with:
          workspaces: starknet-foundry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: pip cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ env.DEVNET_VERSION }}
      - name: Install devnet
        run: |
            sudo apt install -y libgmp3-dev
            pip install starknet-devnet==${{ env.DEVNET_VERSION }}
      - uses: asdf-vm/actions/setup@v2
      - name: Prepare for tests
        run: |
          ./scripts/prepare_for_tests.sh
      - name: Run tests
        run: cargo test -p cast

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@0e66bd3e6b38ec0ad5312288c83e47c143e6b09e
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@dd05243424bd5c0e585e4b55eb2d7615cdd32f1f
        with:
          workspaces: starknet-foundry
      - name: Check forge formatting
        run: cargo fmt --check -p forge
      - name: Check cast formatting
        run: cargo fmt --check -p cast
      - name: Check test-collector formatting
        run: cargo fmt --check -p test-collector
      - name: Check cheatable-starknet formatting
        run: cargo fmt --check -p cheatable-starknet

  clippy:
    runs-on: ubuntu-latest
    env:
      # Make sure CI fails on all warnings - including Clippy lints.
      RUSTFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@0e66bd3e6b38ec0ad5312288c83e47c143e6b09e
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@dd05243424bd5c0e585e4b55eb2d7615cdd32f1f
        with:
          workspaces: starknet-foundry
      - run: cargo lint
        working-directory: starknet-foundry
