name: CI

on:
  pull_request:
  merge_group:
  push:
    branches:
      - master

jobs:
  test-forge-unit-and-integration:
    name: Test Forge / Unit and Integration Tests
    env:
      SCARB_VERSION: 0.7.0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: software-mansion/setup-scarb@v1.3.1
        with:
          scarb-version: ${{ env.SCARB_VERSION }}
      - run: cargo test --release --lib -p forge
      - run: cargo test --release integration -p forge

  test-forge-e2e:
    name: Test Forge / E2E Tests
    env:
      SCARB_VERSION: 0.7.0
    runs-on: ubuntu-latest
    steps:
      - name: Extract branch name
        if: github.event_name != 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV

      - name: Extract branch name on pull request
        if: github.event_name == 'pull_request'
        run: echo "BRANCH_NAME=$(echo $GITHUB_HEAD_REF)" >> $GITHUB_ENV

      - name: Extract repo name and owner
        if: github.event_name != 'pull_request'
        run: echo "REPO_NAME=$(echo ${{ github.repository }}.git)" >> $GITHUB_ENV

      - name: Extract repo name and owner on pull request
        if: github.event_name == 'pull_request'
        run: echo "REPO_NAME=$(echo ${{ github.event.pull_request.head.repo.full_name }}.git)" >> $GITHUB_ENV

      - name: Print repo name
        run: echo 'The repo name is' $REPO_NAME

      - name: Get branch name
        run: echo 'The branch name is' $BRANCH_NAME

      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: software-mansion/setup-scarb@v1.3.1
        with:
          scarb-version: ${{ env.SCARB_VERSION }}
      - run: cargo test --release e2e -p forge

  test-cheatnet:
    name: Test Cheatnet
    env:
      SCARB_VERSION: 0.7.0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: software-mansion/setup-scarb@v1.3.1
        with:
          scarb-version: ${{ env.SCARB_VERSION }}
      - name: Run Cheatnet tests
        run: cargo test -p cheatnet

  test-cast:
    name: Test Cast
    runs-on: ubuntu-latest
    env:
      DEVNET_VERSION: 0.5.5
      SCARB_VERSION: 0.5.2
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@439cf607258077187679211f12aa6f19af4a0af7
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: pip cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ env.DEVNET_VERSION }}
      - name: Install devnet
        run: |
            sudo apt install -y libgmp3-dev
            pip install starknet-devnet==${{ env.DEVNET_VERSION }}
      - uses: software-mansion/setup-scarb@v1.3.1
        with:
          scarb-version: ${{ env.SCARB_VERSION }}
      - name: Prepare for tests
        run: |
          ./scripts/prepare_for_tests.sh
      - name: Run tests
        run: cargo test --release -p cast

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@439cf607258077187679211f12aa6f19af4a0af7
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - name: Check forge formatting
        run: cargo fmt --check -p forge
      - name: Check cast formatting
        run: cargo fmt --check -p cast
      - name: Check test-collector formatting
        run: cargo fmt --check -p test-collector
      - name: Check cheatnet formatting
        run: cargo fmt --check -p cheatnet

  clippy:
    runs-on: ubuntu-latest
    env:
      # Make sure CI fails on all warnings - including Clippy lints.
      RUSTFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@439cf607258077187679211f12aa6f19af4a0af7
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo lint
